{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Set title if passed as an argument in views #}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Water Treatment Digital Twin</title>
    {% endif %}

</head>
<body>
<div class="topnav">
    <img class="logo" src="{% static 'logo2.png' %}"/>
    <a id="title" href="{% url 'components-home' %}">Water Treatment Digital Twin</a>
    <div class="topnav-right">
        <a href="{% url 'components-home' %}">Home</a>
        <a href="{% url 'components-types' %}">Elements</a>
        <a href="{% url 'components-revit-model' %}">Model</a>
        <a href="{% url 'components-simulation' %}">Simulation</a>
    </div>
</div>
{#<header>#}
{#    <h1>Water Treatment Digital Twin</h1>#}
{#</header>#}
{#<a href="{% url 'components-home' %}">Home</a>#}
{#<a href="{% url 'components-types' %}">Elements</a>#}
{#<a href="{% url 'components-revit-model' %}">Model</a>#}
{% block content %}
{% endblock %}
</body>

</html>