{% extends "components/new-base.html" %}
{% block content %}
    <div class="webpage-content">
        <h2>Elements of type {{type}}</h2>
        <div><button onclick="history.back()">Go Back</button></div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ElementID</th>
                </tr>
            </thead>
            <tbody>
            {% for i in elements %}
                <tr><td><a href = {{i}}>{{i}}</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}	