{% extends "components/new-base.html" %}
{% block content %}
    <div class="webpage-content">
        <h2>Element {{elementID}}</h2>
        <div><button onclick="history.back()">Go Back</button></div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            {% for k, v in params.items %}
                <tr><td>{{k}}</td><td>{{v}}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}	