{% extends "components/new-base.html" %}
{% load static %}
{% block content %}
{{ all_SimData| json_script:"all_SimData" }}

<div class="webpage-content">
    <h2 id="sim_vis_title">Simulation: Water Volume Graph</h2>
    <div class="graph_buttons">
        <button type="button" class="water_button" value="chart1" onclick="graph_swap(this.value)">Water Graph</button>
        <button type="button" class="particulate_button" value="chart2" onclick="graph_swap(this.value)">Particulate Graph</button>
        <a href="{% url 'components-simulation' %}">
            <button class="btn btn-primary fa-pull-right" id="change-to-simulation">Simulation Visualiser</button>
        </a>
    </div>
    <div class="chart_main">
        <div class="chart_wrapper">
            <canvas id="chart1" width="1200" height="600"></canvas>
            <canvas id="chart2" width="1200" height="600"></canvas>
        </div>
    </div>

    <script>
        function graph_swap(chart_type1) {
            document.getElementById("sim_vis_title").innerHTML = chart_type1 === "chart1" ? "Simulation: Water Volume Graph" : "Simulation: Particulate Level Graph"
            let chart_type2 = chart_type1 === "chart1" ? "chart2" : "chart1"
            let chart_A = document.getElementById(chart_type1);
            let chart_B = document.getElementById(chart_type2);
            chart_A.style.visibility = "visible";
            chart_B.style.visibility = "hidden";
        }
    </script>

<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script type="module" src="{% static 'animScripts/GraphController.js' %}"></script>
</div>
{% endblock content %} 