{% extends "components/new-base.html" %}
{% load static %}
{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-10 text-center text-lg-start">
                    <h1 class="display-2 text-uppercase font-weight-bold text-light mb-lg-4">Water Treatment Digital Twin</h1>
                    <p class="display-4 text-light mb-lg-4">By: University of Bristol Students</p>
{#                    <p class="fs-4 text-light mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>#}
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="https://github.com/spe-uob/2022-WaterTreatmentDigitalTwin" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5 active" aria-pressed="true">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <h2>Description:</h2>#}
{#    <p>Water treatment plants need a tool which can help improve the planning, design, construction and operation of#}
{#        their plants. A digital twin of a water system will provide accurate and reliable data of that can used to make#}
{#        informed decisions throughout the lifecycle of that water system.</p>#}
    {#    <img class="water-drop" src="{% static 'img.png' %}"/>#}

{#    <div class="carousel-wrapper">#}
{#        <span id="item-1"></span>#}
{#        <span id="item-2"></span>#}
{#        <span id="item-3"></span>#}
{#        <div class="carousel-item item-1">#}
{#          <a href="#item-3" class="arrow-prev arrow"></a>#}
{#          <a href="#item-2" class="arrow-next arrow"></a>#}
{#        </div>#}
{##}
{#        <div class="carousel-item item-2">#}
{#          <a href="#item-1" class="arrow-prev arrow"></a>#}
{#          <a href="#item-3" class="arrow-next arrow"></a>#}
{#        </div>#}
{##}
{#        <div class="carousel-item item-3">#}
{#          <a href="#item-2" class="arrow-prev arrow"></a>#}
{#          <a href="#item-1" class="arrow-next arrow"></a>#}
{#        </div>#}
{#    </div>#}

    <div id="myCarousel" class="carousel slide bg-primary" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class aria-label="Slide 2" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image: url(../../static/aerial.png);"></div>
                <div class="carousel-container">
                    <h2>1st Example</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="btn btn-lg btn-primary">More info</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image: url(../../static/side1.png);"></div>
                <div class="carousel-container">
                    <h2>2nd Example</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <a href="#" class="btn btn-lg btn-primary">More info</a>
                </div>
            </div>
        </div>
        <button href="#myCarousel" class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button href="#myCarousel" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



{#    <div class="row">#}
{#        <div class="column">#}
{#			<figure>#}
{#				<img src="{% static 'aerial.png' %}" alt="Aerial view" style="width:100%">#}
{#				<figcaption>Aerial view of the water system</figcaption>#}
{#			</figure>            #}
{#        </div>#}
{#        <div class="column">#}
{#			<figure>#}
{#				<img src="{% static 'side1.png' %}" alt="Side 1" style="width:100%">#}
{#				<figcaption>Back view of the 3D water system including inner components</figcaption>#}
{#			</figure>#}
{#		</div>#}
{#        <div class="column">#}
{#			<figure>#}
{#				<img src="{% static 'side2.png' %}" alt="Side 2" style="width:100%">#}
{#				<figcaption>Front view of the 3D water system</figcaption>#}
{#			</figure>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}
