{% extends "components/new-base.html" %}
{% load static %}
{% block content %}

    <div class="nav-after"></div>
    <div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-10 text-center text-lg-start">
                    <h1 class="display-2 text-uppercase font-weight-bold text-light mb-lg-4">Water Treatment Digital Twin</h1>
                    <p class="display-4 text-light mb-lg-4">By: University of Bristol Students</p>
{#                    <p class="fs-4 text-light mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>#}
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="https://github.com/spe-uob/2022-WaterTreatmentDigitalTwin" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5 active" aria-pressed="true">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Description:</h2>
    <p>Water treatment plants need a tool which can help improve the planning, design, construction and operation of
        their plants. A digital twin of a water system will provide accurate and reliable data of that can used to make
        informed decisions throughout the lifecycle of that water system.</p>
    {#    <img class="water-drop" src="{% static 'img.png' %}"/>#}

    <div class="row">
        <div class="column">
			<figure>
				<img src="{% static 'aerial.png' %}" alt="Aerial view" style="width:100%">
				<figcaption>Aerial view of the water system</figcaption>
			</figure>            
        </div>
        <div class="column">
			<figure>
				<img src="{% static 'side1.png' %}" alt="Side 1" style="width:100%">
				<figcaption>Back view of the 3D water system including inner components</figcaption>
			</figure>
		</div>
        <div class="column">
			<figure>
				<img src="{% static 'side2.png' %}" alt="Side 2" style="width:100%">
				<figcaption>Front view of the 3D water system</figcaption>
			</figure>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </div>
{% endblock content %}
