{% extends "components/base.html" %}
{% load static %}
{% block content %}

<h2>Simulation</h2>
{{ title }}
{{ all_SimData| json_script:"all_SimData" }}

<div class="anim_scada">
    <div class="side">
        <canvas id="scada1" class="Scada" width="250" height="285"></canvas>
        <canvas id="scada2" class="Scada" width="250" height="285"></canvas>
    </div>
    <div class="main_anim">
        <canvas id="canvas_layer1" width="800" height="600"></canvas>
        <canvas id="canvas_layer2_anim" width="800" height="600"></canvas>
    </div>
    <div class="side">
        <canvas id="scada3" class="Scada" width="250" height="285"></canvas>
        <canvas id="scada4" class="Scada" width="250" height="285"></canvas>
    </div>
</div>

<script type="module" src="{% static 'animScripts/AnimController.js' %}"></script>
<script type="module" src="{% static 'animScripts/ScadaController.js' %}"></script>

{% endblock content %}