<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		<script type="module">

			import * as THREE from 'https://cdn.skypack.dev/three';

			let camera, scene, renderer;
			let cube;
			
			scene = new THREE.Scene();
			camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

			const geometry = new THREE.BoxGeometry( 200, 200, 200 );
			const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
			cube = new THREE.Mesh( geometry, material );
			scene.add( cube );
			camera.position.z = 400;


			renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			

			function animate() {

				// requestAnimationFrame( animate );

				cube.rotation.x += 0.5;
				cube.rotation.y += 0.5;

				// cube.rotation.x += 0.01;
				// cube.rotation.y += 0.01;

				renderer.render( scene, camera );

			}

			animate();

		</script>
	</body>
</html>