{% extends "components/new-base.html" %}
{% load static %}
{% block content %}
    <div class="webpage-content">
        <h1>Input Parameter for simulations</h1>
        <p>Please fill in all fields to run the simulation and be displayed</p>
        {% if submitted %}
            <p>Success!</p>
        {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>
        {% endif %}
    </div>

{% endblock content %}